#playpause {
    border: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    left: 1425px;
    top: 51px;
    background: transparent;
    position: absolute;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 0;
    height: 74px;
    border-color: transparent transparent transparent black;
    -webkit-transition: 100ms all ease;
    transition: 100ms all ease;
    cursor: pointer;
    border-style: solid;
    border-width: 37px 0 37px 60px;
}

#playpause.paused {
    border-style: double;
    border-width: 0px 0 0px 60px;
}

#playpause:hover {
    border-color: transparent transparent transparent black;
}

#restart {
    position: absolute;
    color: black;
    font-size: 37px;
    left: 1350px;
    top: 110px;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    -webkit-animation-fill-mode: backwards;
            animation-fill-mode: backwards;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

#restart:hover {
    cursor: pointer;
}

#restart.clicked {
    -webkit-animation: rotate 0.8s;
            animation: rotate 0.8s;
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
                 transform: rotate(360deg);
    }
}

#slider {
    position: absolute;
}